<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
Please register
<form method="post" action=".">
    {% csrf_token %}
    login: <input type="text" name="login"><br>
    password: <input type="password" name="password"><br>
    name: <input type="text" name="name"><br>
    email: <input type="email" name="email"><br>
    age: <input type="number" name="age"><br>
    phone: <input type="tel" name="phone"><br>
    <input type="submit">
</form>
</body>
</html>